allure-report/app.js
allure-report/favicon.ico
allure-report/index.html
allure-report/styles.css
allure-report/data/behaviors.csv
allure-report/data/behaviors.json
allure-report/data/categories.csv
allure-report/data/categories.json
allure-report/data/packages.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/timeline.json
allure-report/data/test-cases/19f0775f1c8662fa.json
allure-report/data/test-cases/39a999d936ba2dc6.json
allure-report/data/test-cases/55c5239a056781dd.json
allure-report/data/test-cases/b00632e5652ebcfe.json
allure-report/data/test-cases/b932c4f242151dfc.json
allure-report/data/test-cases/e752c2ca038ffefe.json
allure-report/export/influxDbData.txt
allure-report/export/mail.html
allure-report/export/prometheusData.txt
allure-report/history/categories-trend.json
allure-report/history/duration-trend.json
allure-report/history/history-trend.json
allure-report/history/history.json
allure-report/history/retry-trend.json
allure-report/plugin/behaviors/index.js
allure-report/plugin/packages/index.js
allure-report/plugin/screen-diff/index.js
allure-report/plugin/screen-diff/styles.css
allure-report/widgets/behaviors.json
allure-report/widgets/categories-trend.json
allure-report/widgets/categories.json
allure-report/widgets/duration-trend.json
allure-report/widgets/duration.json
allure-report/widgets/environment.json
allure-report/widgets/executors.json
allure-report/widgets/history-trend.json
allure-report/widgets/launch.json
allure-report/widgets/retry-trend.json
allure-report/widgets/severity.json
allure-report/widgets/status-chart.json
allure-report/widgets/suites.json
allure-report/widgets/summary.json
allure-report
allure-results/*
.vscode/*
.allure/*
target/*
